{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"tslintIntegration": true,
	"eslintIntegration": true,
	"jsonEnable": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
